.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   font-weight: bold;
   color: #fff;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.icon img {
   color: #fff;
}

.imgbg {
   background-image: url("../img/disc.png");
   background-size: contain;
   background-repeat: no-repeat;
   height: auto;
}